.mydiv {
  float: left;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding-left: 25%;
  

    
}
.right
{
    background-color: aquamarine;
    width: 75%;
    text-align: center;
}
.left
{
    background-color: lightcoral;
    width: 25%;
    text-align: center;
    padding-bottom: 25%;
    
}

.row:after
{
    content: "";
    display: table;
    clear: both;
}

#header
{
    background-color:darkkhaki;
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}
#nav2
{
    margin: auto;
    background-color:gray;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
}
a:hover{
    color:red
}

#footer {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: darkkhaki;
}